{% extends "layouts/layout.html.twig" %}

{% block title %}
    Car selection
{% endblock title %}

{% block section %}
<div class="flex">
    <div class="w-1/4">
    <div class="fixed w-1/4 inline-block border-2 border-teal-800 p-5">
        <h1 class="font-bold text-4xl text-dark">CHOOSE A VEHICLE CLASS</h1>
        <table>
            <tr>
                <th class="pt-4 text-left">VEHICLE TYPE</th>
                <th class="pt-4 text-left">Total From</th>
            </tr>


            {% for category in categoryPriceList %}
            <tr>
                <td>
                    <input type="checkbox" name="carType" value="{{ category.category }}">
                    <label class="font-bold">{{ category.category }}s</label>
                </td>
            
                <td>CAD ${{ category.dailyPrice }}</td>
            </tr>
            {% endfor %}

            <tr>
                <th class="pt-4 text-left">NUMBER OF PASSENGERS</th>
                <th class="pt-4 text-left"></th>
            </tr>

            {% for psgNum in psgNumPriceList %}
            <tr>
                <td>
                    <input type="checkbox" name="psgNum" value="passengers_{{ psgNum.passengers }}">
                    <label class="font-bold">
                        {{ psgNum == psgNumList|last 
                            ? psgNum.passengers ~'+' : psgNum.passengers }}
                    </label>
                </td>
                <td>CAD ${{ psgNum.dailyPrice }}</td>
            </tr>
            {% endfor %}

            <tr>
                <th class="pt-4 text-left">NUMBER OF BAGS</th>
                <th class="pt-4 text-left"></th>
            </tr>
            {% for bagNum in bagNumPriceList %}
            <tr>
                <td>
                    <input type="checkbox" name="bagNum" value="bags_{{ bagNum.bags }}">
                    <label class="font-bold">
                        {{ bagNum == bagNumList|last 
                            ? bagNum.bags ~'+' : bagNum.bags}}
                    </label>
                </td>
                <td>CAD ${{ bagNum.dailyPrice }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
    </div>
    <div class="w-3/5 bg-blue-100" id="vehicleList">
        <div class="text-right">
            <span class="font-bold pr-3 inline-block">SORT BY :</span>
            <select id="sortSelector">
                <option>Featured</option>
                <option name="lowToHigh">Price low to high</option>
                <option name="highToLow">Price high to low</option>
            </select>
        </div>
        <div>
            {% include "cards/car_selection_card.html.twig" %}
        </div>
    </div>
</div>

    <script>
        function sortLowToHigh(a, b) {
            return Number(a.querySelector(".dailyPrice").innerText) - Number(b.querySelector(".dailyPrice").innerText);
        }

        function sortHighToLow(a, b) {
            return Number(b.querySelector(".dailyPrice").innerText) - Number(a.querySelector(".dailyPrice").innerText);
        }

        function sortFeatured(a, b) {
            //alert(a.querySelector(".subtype").innerText < b.querySelector(".subtype").innerText);
            return a.querySelector(".subtype").innerText < b.querySelector(".subtype").innerText ? -1 : 1;
        }

        $(document).ready(function () 
        {
            $("input[type=checkbox]").on("click", function () {
                let isAllUnchecked = $("input[type=checkbox]:checked").length === 0;
                if(isAllUnchecked === true){
                    $(".vehicles").removeClass("hidden");
                    return;
                }

                $(".vehicles").addClass("hidden");
                let name = $(this).attr("name");

                $(`input[name=${name}]:checked`).each(function (){
                    let selGroup = $(this).val();
                    $(`.${selGroup}`).removeClass("hidden");
                });
            });

            $("#sortSelector").change(function () {
                if ($(this).find("option:selected").attr("name") === "lowToHigh") {
                    //alert("low to high");
                    $(".vehicles").sort(sortLowToHigh).appendTo($("#vehicleList"));

                } else if ($(this).find("option:selected").attr("name") === "highToLow") {
                    //alert("high to low");
                    $(".vehicles").sort(sortHighToLow).appendTo($("#vehicleList"));
                } else {
                    //alert("featured");
                    $(".vehicles").sort(sortFeatured).appendTo($("#vehicleList"));
                }
            })


        })
    </script>

{% endblock section %}