{% extends "layouts/layout.html.twig" %}

{% block title %}
    Car selection
{% endblock title %}

{% block section %}
<div class="max-w-5xl mx-auto">
    <h1 class="font-bold text-4xl py-4">CAR SELECTION</h1>
    <hr class="border-2 border-gray-500 mb-2">
    <div class="flex">
        <div class="w-1/4">
            <div class="sticky top-0 border-2 border-teal-800 p-2">
                <h1 class="font-bold text-lg text-center">CHOOSE A VEHICLE CLASS</h1>
                <table class="text-left">
                    <tr>
                        <th class="pt-4">VEHICLE TYPE</th>
                        <th class="pt-4">Total From</th>
                    </tr>

                    {% for category in categoryPriceList %}
                    <tr>
                        <td>
                            <input type="checkbox" name="carType" value="{{ category.category }}">
                            <label>{{ category.category }}s</label>
                        </td>
                    
                        <td class="text-xs">${{ category.dailyPrice }}</td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <th class="pt-4">NUMBER OF PASSENGERS</th>
                        <th class="pt-4"></th>
                    </tr>

                    {% for psgNum in psgNumPriceList %}
                    <tr>
                        <td>
                            <input type="checkbox" name="psgNum" value="passengers_{{ psgNum.passengers }}">
                            <label>
                                {{ psgNum == psgNumList|last 
                                    ? psgNum.passengers ~'+' : psgNum.passengers }}
                            </label>
                        </td>
                        <td class="text-xs">${{ psgNum.dailyPrice }}</td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <th class="pt-4">NUMBER OF BAGS</th>
                        <th class="pt-4"></th>
                    </tr>
                    {% for bagNum in bagNumPriceList %}
                    <tr>
                        <td>
                            <input type="checkbox" name="bagNum" value="bags_{{ bagNum.bags }}">
                            <label>
                                {{ bagNum == bagNumList|last 
                                    ? bagNum.bags ~'+' : bagNum.bags}}
                            </label>
                        </td>
                        <td class="text-xs">${{ bagNum.dailyPrice }}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
        <div class="w-4/5 bg-blue-100" id="vehicleList">
            <div class="text-right">
                <span class="font-bold pr-3 inline-block">SORT BY :</span>
                <select id="sortSelector">
                    <option>Featured</option>
                    <option name="lowToHigh">Price low to high</option>
                    <option name="highToLow">Price high to low</option>
                </select>
            </div>
            <div>
                {% include "cards/car_selection_card.html.twig" %}
            </div>
        </div>
    </div>
</div>

    <script>
        function sortLowToHigh(a, b) {
            return Number(a.querySelector(".dailyPrice").innerText) - Number(b.querySelector(".dailyPrice").innerText);
        }

        function sortHighToLow(a, b) {
            return Number(b.querySelector(".dailyPrice").innerText) - Number(a.querySelector(".dailyPrice").innerText);
        }

        function sortFeatured(a, b) {
            //alert(a.querySelector(".subtype").innerText < b.querySelector(".subtype").innerText);
            return a.querySelector(".subtype").innerText < b.querySelector(".subtype").innerText ? -1 : 1;
        }

        $(document).ready(function () 
        {
            $("input[type=checkbox]").on("click", function () {
                let isAllUnchecked = $("input[type=checkbox]:checked").length === 0;
                if(isAllUnchecked === true){
                    $(".vehicles").removeClass("hidden");
                    return;
                }
                
                $(".vehicles").addClass("hidden");
                
                let filteredCars = $(".vehicles");
                let filterGroups = ["carType", "bagNum", "psgNum"];

                filterGroups.forEach(function (group) {
                    let filters = [];
                    $(`input[name=${group}]:checked`).each(function (){
                        filters.push($(this).val());
                    });

                    if(filters.length !== 0){
                        filteredCars = filteredCars.filter(function () {
                            let result = false;
                            let element = this;
                            filters.forEach(function (item) {
                                result = result || $(element).hasClass(item);
                            });
                            return result;
                        });
                    }
                });

                filteredCars.removeClass("hidden");
            });

            $("#sortSelector").change(function () {
                if ($(this).find("option:selected").attr("name") === "lowToHigh") {
                    //alert("low to high");
                    $(".vehicles").sort(sortLowToHigh).appendTo($("#vehicleList"));

                } else if ($(this).find("option:selected").attr("name") === "highToLow") {
                    //alert("high to low");
                    $(".vehicles").sort(sortHighToLow).appendTo($("#vehicleList"));
                } else {
                    //alert("featured");
                    $(".vehicles").sort(sortFeatured).appendTo($("#vehicleList"));
                }
            });



        })
    </script>

{% endblock section %}