{% extends "layouts/layout.html.twig" %}

{% block title %}
    Profile
{% endblock title %}

{% block section %}
<div class="max-w-sm mx-auto">
    <h1 class="p-4 text-4xl font-bold">Profile Page</h1>

    <form 
        class="text-lg p-4" 
        action="/profile/{{loginUser.id}}"
        method="POST"
        enctype="multipart/form-data"
    >
    {% set fieldList = ['Firstname','Lastname','Drivinglicense','Address','phone']%}
        {% for field in fieldList %}
        <div class="my-2">
            <p>{{ field }}</p>
            <input class="w-full mt-2 p-2 h-10 border-2 border-gray-500" type="text" name="{{ field |lower }}" value="{{ user[field|lower] }}"/>
            <p class="text-xs text-red-400">{{errorList [field|lower ] }}</p>
        </div>
        {% endfor %}
        <div>
            <p>Id Photo</p>
            <label id="lblPhoto" class="block border-2 border-gray-400 shadow-md cursor-pointer" for="idPhoto">
                <img id="idPhotoHolder" class="w-full h-48 object-contain"
                alt="ID Photo" src="{{ idPhotoBase64 ?? '/resources/images/empty_photo.png'}}" />
            </label>
            <input id="idPhoto" class="hidden" type="file" name="idPhoto" accept="image/png, image/jpeg"/>
            <input type="text" class="hidden" name="idPhotoBase64" value="{{ idPhotoBase64 }}"/>
        </div>

        <div class="mt-4 text-right">
            <button class="px-8 py-2 rounded bg-gray-500" type="submit">CONTINUE</button>
        </div>
    </form>
</div>

{% endblock section %}

{% block scripts %}
<script>
    $(document).ready(function (){
        $("input#idPhoto").change(function() {
            let imgFile = this.files[0];
            if(imgFile != ''){
                $("#idPhotoHolder").attr("src",URL.createObjectURL(imgFile));
            }
        });
    });
</script>
{% endblock scripts %}