{% extends "layouts/layout.html.twig" %}

{% block title %}
    Review And Reserve page
{% endblock title %}

{% block section %}
    <div>
        <div>
            <span class="font-bold text-4xl w-full block mx-12 my-5">REVIEW & RESERVE</span>
        </div>
        <hr style="border-bottom: 3px solid grey">
        <div class="flex items-stretch">
            <div class="w-2/5 mx-12 mt-6 self-start">
                <div class="flex flex-col bg-gray-400 p-5 block border-solid border-black border">
                    <span class="font-bold text-3xl">Rental Details</span><br>
                    <ul>
                        <li class="flex my-3">
                            <span class="font-bold flex-1 text-lg ">DATES & TIMES</span>
                            <span class="font-bold text-green-700  underline flex-1 text-center" onclick="modifyDateLocation();">MODIFY</span>
                        </li>
                        <li>
                            <span>{{ dateLocationData.pickupDate|date('D j. F Y') }} @ {{ dateLocationData.pickupTime|date('H:i A') }}</span><br>
                            <span>{{ dateLocationData.returnDate|date('D j. F Y') }} @ {{ dateLocationData.returnTime|date('H:i A') }}</span>
                        </li>
                    </ul>
                    <ul class="mt-5">
                        <li class="flex my-3">
                            <span class="font-bold  text-lg flex-1">PICK-UP & RETURN LOCATION</span>
                            <span class="font-bold  text-center flex-1 text-green-700 underline"><a
                                        href="../../../..">MODIFY</a></span>
                        </li>
                        <li>
                            <span>Dollard-des-Ormeaux Boulevard Saint-Jean</span><br>
                            <span>4655 Boul Saint-Jean Ste D</span><br>
                            <span>Dollard-Des-Ormeaux, QC H9H 2A7</span>
                        </li>
                    </ul>
                </div>
                <div class="my-8 block px-5 py-3 bg-gray-400 border-solid border-black border">
                    <div class="flex flex-row">
                        <div class="flex-1">
                            <span class="font-bold inline-block text-3xl text-red-900 text-opacity-100 my-3">{{ selVehicle.subtype }}</span><br>
                            <span>{{ selVehicle.description }}</span>
                        </div>

                        <div class="block flex-1 flex justify-center">
                            <img class="w-3/5 text-center" src={{ selVehicle.photoPath }}>
                        </div>
                    </div>
                    <div class="block mt-3">
                        <ul>
                            <li class="flex mb-3">
                                <span class="font-bold text-lg flex-1">VEHICLE</span>
                                <span class="font-bold text-green-700 underline flex-1 text-center"><a
                                            href="#">MODIFY</a></span>
                            </li>
                            <li class="flex">
                                <span class="flex-1">Time And Distance 1 Day(s) @ CAD {{ selVehicle.dailyPrice }} / Day</span><br>
                                <span class="flex-1 text-center">CAD 19.99</span>
                            </li>
                            <li class="flex">
                                <span class="flex-1">Unlimited Kilometres</span>
                                <span class="flex-1 text-center">Included</span>
                            </li>
                        </ul>
                    </div>
                    <div class="block mt-5">
                        <ul>
                            <li class="flex">
                                <span class="font-bold text-lg flex-1">TAXES & FEES</span>
                                <span class="font-bold text-green-700 underline flex-1 text-center"><a href="#">LEARN MORE</a></span>
                            </li>
                            <li class="flex">
                                <span class="flex-1">TPS / GST (5.0%)</span>
                                <span class="flex-1 text-center">CAD 1.23</span>
                            </li>
                            <li class="flex">
                                <span class="flex-1">TVQ / QST (9.975%)</span>
                                <span class="flex-1 text-center">CAD 2.45</span>
                            </li>
                        </ul>
                    </div>
                    <hr style="border-bottom: 2px solid grey; margin-top: 5px">
                    <div class="block my-5 flex">
                        <span class="font-bold text-xl flex-1">ESTIMATED TOTAL</span>
                        <div class="flex-1 text-center">
                            <sup>CAD</sup>
                            <span class="text-lg">28</span>
                            <sup>.22</sup>
                        </div>

                    </div>
                </div>
            </div>
            <div class="mt-6 mx-12  w-2/5 self-start">
                <div>
                    <span class="mb-3 px-5 block">* Required to complete your reservation</span>
                </div>
                <div class="block border border-black border-solid p-5">
                    <form method="post" action="/reserve_submit">
                        <div class="flex flex-row pb-5 inline-block">
                            <div class="flex-1">
                                <label for="firstName" class="pb-2 inline-block font-bold">First Name *</label><br>
                                <input type="text" name="firstName" id="firstName" class="w-2/3"
                                       value={{ userInfo.firstname }}>
                            </div>
                            <div class="flex-1">
                                <label for="lastname" class="pb-2 inline-block font-bold">Last Name *</label><br>
                                <input type="text" name="lastName" id="lastname" class="w-2/3"
                                       value={{ userInfo.lastname }}>
                            </div>
                        </div>
                        <div class="pb-5 block">
                            <label for="phoneNumber" class="pb-2 inline-block font-bold">Phone Number *</label><br>
                            <input name="phoneNumber" type="number" id="phoneNumber" class="w-2/5"
                                   value={{ userInfo.phone }}>
                        </div>
                        <div class="pb-5 block">
                            <label for="email" class="pb-2 inline-block font-bold">Email Address *</label><br>
                            <input type="email" name="email" id="email" class="w-1/2" value={{ userInfo.email }}>
                        </div>
                        <div class="block pb-5">
                            <label for="drivingLicense" class="inline-block pb-2 font-bold">Driver's License *</label>
                            <br>
                            <input type="text" name="drivingLicense" id="drivingLicense" class="w-1/2"
                                   value={{ userInfo.drivinglicense }}>
                        </div>
                        <hr style="border: 1px solid grey; margin-bottom: 2em">
                        <div>
                            <span class="font-bold text-lg text-underline">Complete Your Booking</span><br>
                            <span>You will be charged when you pick up your rental.</span>
                            <div class="float-right">
                                <sup>CAD</sup><span class="font-bold">28</span><sup class="font-bold">.22</sup>
                            </div>

                        </div>
                        <div class="flex justify-center mt-10">
                            <input type="submit" value="RESERVE ORDER"
                                   class="font-bold text-lg bg-green-700 text-white w-1/4 py-2 px-5 inline-block">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <script>

        function modifyDateLocation(){

        }

        $(document).ready(function () {

        })
    </script>

{% endblock section %}