{% extends "layouts/layout.html.twig" %}

{% block title %}
    Review And Reserve page
{% endblock title %}

{% block section %}
    <div>
        <div>
            <span class="font-bold text-4xl w-full block mx-12 my-5">REVIEW & RESERVE</span>
        </div>
        <hr style="border-bottom: 3px solid grey">
        <div class="flex items-stretch">
            <div class="w-2/5 mx-12 mt-6 self-start">
                <div class="flex flex-col bg-gray-400 p-5 block border-solid border-black border">
                    <span class="font-bold text-3xl">Rental Details</span><br>
                    <ul>
                        <li class="flex my-3">
                            <span class="font-bold flex-1 text-lg ">DATES & TIMES</span>
                            <div class="font-bold inline-block underline flex-1 text-center"><a
                                        class="cursor-pointer text-green-700" href="../modify_datetime">MODIFY</a>
                            </div>
                        </li>
                        <li>
                            <span>{{ dateLocationData.pickupDate|date('D j. F Y') }} @ {{ dateLocationData.pickupTime|date('H:i A') }}</span><br>
                            <span>{{ dateLocationData.returnDate|date('D j. F Y') }} @ {{ dateLocationData.returnTime|date('H:i A') }}</span>
                        </li>
                    </ul>
                    <ul class="mt-5">
                        <li class="flex my-3">
                            <span class="font-bold  text-lg flex-1">PICK-UP & RETURN LOCATION</span>
                            <div class="font-bold inline-block underline flex-1 text-center"><a
                                        class="cursor-pointer text-green-700 " href="../modify_locations">MODIFY</a>
                            </div>
                        </li>
                        <li>
                            <span>{{ dateLocationData.pickupStoreName }}</span><br>
                            <span>{{ dateLocationData.pickupAddress }}</span><br>
                            <span>{{ dateLocationData.pickupCity }}, {{ dateLocationData.pickupProvince }} {{ dateLocationData.pickupPostCode }}</span><br>
                            <span>{{ dateLocationData.pickupPhone }}</span>
                        </li>
                    </ul>
                </div>
                <div class="my-8 block px-5 py-3 bg-gray-400 border-solid border-black border">
                    <div class="flex flex-row">
                        <div class="flex-1">
                            <span class="font-bold inline-block text-3xl text-red-900 text-opacity-100 my-3">{{ selVehicle.subtype }}</span><br>
                            <span>{{ selVehicle.description }}</span>
                        </div>

                        <div class="block flex-1 flex justify-center">
                            <img class="w-3/5 text-center" src={{ selVehicle.photoPath }}>
                        </div>
                    </div>
                    <div class="block mt-3">
                        <ul>
                            <li class="flex mb-3">
                                <span class="font-bold text-lg flex-1">VEHICLE</span>
                                <div class="font-bold inline-block underline flex-1 text-center"><a
                                            class="cursor-pointer text-green-700 "
                                            href="../modify_car_selection">MODIFY</a></div>
                            </li>
                            <li class="flex">
                                {% set difference = date(dateLocationData.returnDate).diff(date(dateLocationData.pickupDate)) %}
                                {% set netFees = difference.days *  selVehicle.dailyPrice %}
                                <span class="flex-1">Time And Distance <b>{{ difference.days }}</b> Day(s) @ <sup>CAD</sup> <b>{{ selVehicle.dailyPrice }}</b> / Day</span><br>
                                <span class="flex-1 text-center"><sup>CAD</sup> <b>{{ netFees|number_format(2,'.',',') }}</b></span>
                            </li>
                            <li class="flex">
                                <span class="flex-1">Unlimited Kilometres</span>
                                <span class="flex-1 text-center">Included</span>
                            </li>
                        </ul>
                    </div>
                    <div class="block mt-5">
                        <ul>
                            <li class="flex">
                                <span class="font-bold text-lg flex-1">TAXES & FEES</span>
                            </li>
                            <li class="flex">
                                <span class="flex-1">TPS / GST (5.0%)</span>
                                {% set tps = netFees * 0.05 %}
                                <span class="flex-1 text-center"><sup>CAD</sup> <b>{{ tps|number_format(2,'.',',') }}</b></span>
                            </li>
                            <li class="flex">
                                <span class="flex-1">TVQ / QST (9.975%)</span>
                                {% set tvq = netFees * 0.0997 %}
                                <span class="flex-1 text-center"><sup>CAD</sup> <b>{{ tvq|number_format(2,'.',',') }}</b></span>
                            </li>
                        </ul>
                    </div>
                    <hr style="border-bottom: 2px solid grey; margin-top: 5px">
                    <div class="block my-5 flex">
                        <span class="font-bold text-xl flex-1">ESTIMATED TOTAL</span>
                        <div class="flex-1 text-center">
                            <sup>CAD</sup>
                            {% set totalFees = netFees + tps + tvq %}

                            <span class="text-lg"><b>{{ totalFees|round(0,'floor') }}</b></span>
                            <sup class="text-base"><b>. {{ totalFees * 1000 % 10 >= 5  ? totalFees * 100  % 100 + 1: totalFees * 100 % 100 }}</b></sup>
                        </div>

                    </div>
                </div>
            </div>
            <div class="mt-6 mx-12  w-2/5 self-start">
                <div>
                    <span class="mb-3 px-5 block">* Required to complete your reservation</span>
                </div>


                <div class="block border border-black border-solid p-5 bg-gray-400">
                    {% if  userInfo == false %}
                        <div class="text-center">
                            <p class="text-lg font-bold">Please
                                <a class="underline text-xl hover:text-red-900" href="/login">Login</a>
                                or
                                <a class="underline text-xl hover:text-red-900" href="/register">Register</a>
                                first</p>
                        </div>

                    {% else %}
                        <div class="flex flex-row pb-5 inline-block">
                            <div class="flex-1">
                                <label for="firstName" class="pb-2 inline-block font-bold">First Name *</label><br>
                                <span type="text" name="firstName" id="firstName"
                                      class="w-2/3 text-lg text-green-700 font-bold">{{ userInfo.firstname }}</span>
                            </div>
                            <div class="flex-1">
                                <label for="lastName" class="pb-2 inline-block font-bold">Last Name *</label><br>
                                <span type="text" name="lastName" id="lastName"
                                      class="w-2/3 text-lg text-green-700 font-bold">{{ userInfo.lastname }}</span>
                            </div>
                        </div>
                        <div class="pb-5 block">
                            <label for="phoneNumber" class="pb-2 inline-block font-bold">Phone Number *</label><br>
                            <span name="phoneNumber" type="number" id="phoneNumber"
                                  class="w-2/5 text-lg text-green-700 font-bold">{{ userInfo.phone }}</span>
                        </div>
                        <div class="pb-5 block">
                            <label for="email" class="pb-2 inline-block font-bold">Email Address *</label><br>
                            <span type="email" name="email" id="email"
                                  class="w-1/2 text-lg text-green-700 font-bold">{{ userInfo.email }}</span>
                        </div>
                        <div class="block pb-5">
                            <label for="drivingLicense" class="inline-block pb-2 font-bold">Driver's License
                                *</label>
                            <br>
                            <span type="text" name="drivingLicense" id="drivingLicense"
                                  class="w-1/2 text-lg text-green-700 font-bold">{{ userInfo.drivinglicense }}</span>
                        </div>
                    {% endif %}
                </div>

                <hr style="border: 1px solid grey; margin-bottom: 2em">
                <div>
                    <span class="font-bold text-lg text-underline">Complete Your Booking</span><br>
                    <span>You will be charged when you pick up your rental.</span>
                    <div class="float-right">
                        <sup>CAD </sup><span
                                class="font-bold text-xl">{{ totalFees|round(0,'floor') }}</span><sup
                                class="font-bold text-base">
                            . {{ totalFees * 1000 % 10 >= 5  ? totalFees * 100  % 100 + 1: totalFees * 100 % 100 }}</sup>
                    </div>
                </div>
                {% if userInfo != false %}
                    <div class="flex justify-center mt-10">
                        <button id="btSubmit"
                                class="font-bold text-lg bg-green-700 text-white w-1/4 py-2 px-5 inline-block">
                            RESERVE ORDER
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function () {


            $("#btSubmit").on('click', function () {
                // alert("submit click");
                var dataString = {
                    "dailyPrice": {{ selVehicle.dailyPrice }},
                    "netFees": {{ netFees }},
                    "tps":{{ tps }},
                    "tvq":{{ tvq }},
                    "totalFees":{{ totalFees }},
                    "rentDays":{{ difference.days }}
                };

                $.ajax({
                    url: "/reserve_submit",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify(dataString),
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                }).done(function (response) {
                    alert("add reservation successfully!");
                    window.location.href = response.url;

                }).always(function () {

                });
            })

        })
    </script>

{% endblock section %}