{% extends "user_summary.html.twig" %}

{% block title %}
    User Profile
{% endblock title %}

{% block userContent %}
    <div class="mx-auto my-5 text-center">
        <table class="inline-block ">
            <tr>
                {% for key in keyList %}
                    <th class="text-center border-solid border border-black">{{ key }}</th>
                {% endfor %}
            </tr>
            {% for order in orders %}
                <tr class="dataRow">
                    <td class="p-1 border border-solid border-gray-500">{{ order.id }}</td>
                    <td class="p-1 border border-solid border-gray-500">{{ order.reservationId  }}</td>
                    <td class="p-1 border border-solid border-gray-500">{{ order.userId }}</td>
                    <td class="p-1 border border-solid border-gray-500">{{ order.carId }}</td>
                    <td class="p-1 border border-solid border-gray-500">{{ order.createdTS }}</td>
                    <td class="p-1 border border-solid border-gray-500">{{ order.returnDateTime }}</td>
                    <td class="p-1 border border-solid border-gray-500 text-center"><span class="text-sm">$</span>&nbsp;{{ order.totalPrice }}</td>
                    <td class="p-1 border border-solid border-gray-500">{{ order.rentStoreId  }}</td>
                    <td class="p-1 border border-solid border-gray-500">{{ order.returnStoreId  }}</td>

                </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $(".dataRow").on('mouseover', function () {
                $(this).addClass("bg-green-400");
            })

            $(".dataRow").on('mouseout', function () {
                $(this).removeClass("bg-green-400");
            })
        })
    </script>
{% endblock %}