{% set foreignKeyList = ['storeId', 'reservationId', 'rentStoreId', 'returnStoreId', 'carTypeId', 'carId', 'userId'] %}


{## Item Card ##}

{% for item in itemList %}
<tr> 
    {% for key in item|keys %}
        {% if key == 'photoPath' or key == 'orderId' %}
            {# Do nothing #}
        {% elseif key in foreignKeyList %}
            <td class="foreignKey cursor-default relative border-2 border-gray-500 hover:bg-green-500">
                <span class="targetId block">{{ item[key]}}</span>
                <span class="key hidden">{{ key }}</span>
            </td>
        {% else %}
            <td class="{{ key == 'id' ? 'itemId' : 'itemField cursor-pointer' }} relative border-2 border-gray-500">{{ item[key]}}</td>
        {% endif %}
    {% endfor %}
    <td class="border-none flex justify-center">
        {% set now = "now"|date("Y-m-d h:i:s") %}
        {% if itemTitle|lower == 'reservation' and item['orderId'] == null %}
            <span class="material-icons btOrder cursor-pointer fill-current text-blue-500" title="Place Order">
                thumb_up_alt
            </span>
        {% endif %}
        <span class="material-icons btDelete cursor-pointer fill-current text-red-500" title="Delete">
            delete 
        </span>
    </td>
</tr>
{% endfor %}



{## Pagenation ##}

{% if totalPage > 1 %}

<tr id="pagenation">
    <td class="text-center" colspan="1000">
        {% if currentPage != 1 %}
            <span id="prevPage" class="cursor-pointer hover:underline">prev</span>
        {% endif %}

        {% if currentPage <= 5 %}
            {% set maxPage = totalPage < 9 ? totalPage : 9 %}

            {% for page in 1.. maxPage %}
                {% if page == currentPage %}
                    <span class="text-2xl font-semibold">{{ page }}</span>
                {% else %}
                    <span class="btPage cursor-pointer hover:underline">{{ page }}</span>
                {% endif %}
            {% endfor %}

            {% if totalPage > 9 %}
            <span> ... </span>
            {% endif %}

        {% elseif currentPage > totalPage - 5 %}
            {% set minPage = totalPage < 9 ? 1 : totalPage - 8 %}

            {% if minPage != 1 %}
            <span> ... </span>
            {% endif %}
            {% for page in minPage .. totalPage %}
                {% if page == currentPage %}
                    <span class="text-2xl font-semibold">{{ page }}</span>
                {% else %}
                    <span class="btPage cursor-pointer hover:underline">{{ page }}</span>
                {% endif %}
            {% endfor %}

        {% else %}
            <span> ... </span>
            {% for page in currentPage - 4 .. currentPage + 4 %}
                {% if page == currentPage %}
                    <span class="text-2xl font-semibold">{{ page }}</span>
                {% else %}
                    <span class="btPage cursor-pointer hover:underline">{{ page }}</span>
                {% endif %}
            {% endfor %}
            <span> ... </span>
        {% endif %}

        {% if currentPage != totalPage %}
            <span id="nextPage" class="cursor-pointer hover:underline">next</span>
        {% endif %}
    </td>
</tr>
{% endif %}