{% extends "admin/layouts/layout.html.twig" %}

{% block title %}
    {{ itemTitle }} List
{% endblock title %}

{% block section %}
<!-- Start Search Bar -->
<div>
    <div class="flex">
        <input class="p-2 border-2 w-full h-full" type="text" name="searchKeyword" placeHolder="Search here... (Only current page records for the moment)"/>
    </div>
</div>
<!-- End Search Bar -->

<div>

<!-- Start EditorDiv Input to edit single field -->
    <form id="editorDiv" class="hidden absolute z-20 top-0 items-center bg-gray-200 border-1 border-gray-800">
        <input id="editorInput" class="text-center" type="text" value="" />
    </form>
<!-- End EditorDiv Input to edit single field -->


<!-- Start popup on mouseover to id fields. Show detail information -->
    <div id="popup" class="hidden w-64 absolute p-4 z-20 inline-block bg-gray-400 border-2 border-gray-700 rounded">
    </div>
<!-- End popup on mouseover to id fields. Show detail information -->


<!-- Start Item List Table -->
    <table class="w-full mt-2 border-2 border-collapse">
        <tr id="tableHeader" class="bg-gray-800 text-gray-200">
            {% for key in itemKeyListInHeader %}
                {% if key == 'photoPath' %}
                    {# Do nothing #}
                {% else %}
                    <th class="{{ key|lower == 'id' ? 'itemId' :''}} p-2 border-2 cursor-default border-gray-200 hover:bg-green-800">{{ key|upper }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        <tbody id="tbodyItemList" class="text-center">
            {% include 'admin/cards/item_card.html.twig' %}
        </tbody>
    </table>
<!-- End Item List Table -->


    <!-- Add Item Button -->
    <div class="text-right">
        <button id="btAddNewItem" class="mt-3 px-3 py-1 rounded bg-green-400">Add new {{ itemTitle }}</button>
    </div>

</div>
{% endblock section %}

{% block grayout %}
    <!-- Grayout pop up box for adding item -->
    {% include "admin/grayout/grayout_add_item.html.twig" %}
{% endblock grayout %}

{% block scripts %}
<script>
    $(document).ready(function () {
        
        let items = "{{ itemTitle|lower }}s";
        let itemTitle = "{{ itemTitle }}";

        let currentPage = {{ currentPage }};
        let sortBy = "";
        let order = "";
        let selPage = currentPage;

        switch(items){
            case "reservations" :
                sortBy = "startDateTime";
                order = "desc";
                break;
            case "orders" :
                sortBy = "returnDateTime";
                order = "desc";
                break;
            default :
                //Do Nothing
        }

        reloadItemList();

        function reloadItemList()
        {
            let url = `/admin/ajax/${items}?page=${selPage}&sortBy=${sortBy}&order=${order}`;
            $.ajax({
                url: url,
                type: "GET",
            }).done(function (itemList) {
                $("#tbodyItemList").html(itemList);
                currentPage = selPage;
                $("input[name=searchKeyword]").val("");
            }).fail(function () {
                console.log(`list ajax fail!`);
            });
        }

        // start Sorting on click header of table
        $("table tr:first-child th").click(function () {
            let newSortBy = $(this).text().toUpperCase();
            if(newSortBy == sortBy){
                order = order.toLowerCase() == 'asc' ? 'desc' : 'asc';
            } else{
                order = 'asc';
            }
            sortBy = newSortBy;
            reloadItemList();
        });
        // end Sorting on click header of table
        
        // start pagenation
        $("#tbodyItemList").on('click','tr#pagenation span.btPage',function () {
            selPage = $(this).text() - 0;
            reloadItemList();
        });
        
        $("#tbodyItemList").on('click','tr#pagenation span#prevPage',function () {
            selPage = currentPage - 1;
            reloadItemList();
        });

        $("#tbodyItemList").on('click','tr#pagenation span#nextPage',function () {
            selPage = currentPage + 1;
            reloadItemList();
        });
        // end pagenation


        // start show record detail on hover
        $("#tbodyItemList").on('mouseenter','tr>td.foreignKey',function (event) {
            let id = $(this).children(".targetId").text();
            let foreignKey = $(this).children(".key").text();

            if(id == ''){ 
                return; 
            }

            let position = $(this).position();
            let elementWidth = $(this).outerWidth();
            let elementHeight = $(this).outerHeight();

            let tableList = {
                userId : 'users',
                storeId : 'stores',
                rentStoreId : 'stores',
                returnStoreId : 'stores',
                carId : 'cars',
                carTypeId : 'carTypes',
                reservationId : 'reservations',
                orderId : 'orderId'
            }
            let url = `/admin/ajax/${tableList[foreignKey]}/${id}`;
            $.ajax({
                url: url,
                type: "GET",
            }).done(function (item) {
                $("div#popup").html(item);

                $("div#popup").offset(function() {
                        let width = $(this).outerWidth();
                        if( position.left + elementWidth + width > $(document).outerWidth()){
                            position.left -= width;
                        } else {
                            position.left += elementWidth;
                        }

                        let height = $(this).outerHeight();
                        if( position.top + elementHeight + height > $(document).outerHeight()){
                            position.top -= height - elementHeight;
                        } else {
                            position.top += elementHeight;
                        }
                        return position;
                    })
                    .addClass("block")
                    .removeClass("hidden");
            }).fail(function (result) {
                let errorList = result.responseJSON.errorList;
                Object.keys(errorList).forEach(function (key) {
                    $("#notificationTitle").html(`[${key}] is Invalid!!`);
                    $("#notificationText").html(errorList[key]);
                    $("#notificationDiv")
                        .removeClass("bg-orange-500")
                        .addClass("bg-red-700")
                        .slideDown().delay(2000).fadeOut("slow");
                });
            });
        });

        $("#tbodyItemList").on('mouseleave','tr td.foreignKey',function () {
            $("div#popup")
                .offset({ top: 0 , left : 0})
                .addClass("hidden")
                .removeClass("block");
        });


        let selItemId = 1;
        let fieldIndex = 1;
        let selElement = '';

        // Show edit input
        $("table").on("click","tbody td.itemField",function () 
        {
            selElement = this;
            selItemId = $(this).parent().children(".itemId").html();

            $(this).removeClass("bg-green-200");
            $("#editorDiv").addClass("block");
            $("#editorDiv").removeClass("hidden");

            fieldIndex = $(this).index();

            $("#editorInput").val($(this).html());

            $("#editorDiv").offset($(this).position());

            let width = $(this).width();
            let height = $(this).height();
            $("#editorInput").width(width + 5).height(height + 7).focus();
        });

        $("#editorInput").focusout(function() {
            $("#editorDiv").addClass("hidden");
        });


        // Edit Item field(patch) 
        $("#editorDiv").submit(function( event ) {
            event.preventDefault();
            event.stopImmediatePropagation();

            let value = $("#editorInput").val();
            let data = {
                "fieldIndex" : fieldIndex,
                "value" : value
            };
            let url = `/admin/ajax/${items}/${selItemId}`;

            $.ajax({
                url: url,
                type: "PATCH",
                dataType: "json",
                data: JSON.stringify(data)
            })
            .done(function () {
                $(selElement).html(data.value);
            }).fail(function (result) {
                let errorList = result.responseJSON.errorList;
                Object.keys(errorList).forEach(function (key) {
                    $("#notificationTitle").html(`[${key}] is Invalid!!`);
                    $("#notificationText").html(errorList[key]);
                    $("#notificationDiv")
                        .removeClass("bg-orange-500")
                        .addClass("bg-red-700")
                        .slideDown().delay(2000).fadeOut("slow");
                });
            });

            $("#editorDiv").delay(1000).addClass("hidden");
        });

        $("#editorInput").click(function () {
            event.stopImmediatePropagation();
        });

        // Delete Item
        $("table").on("click","tbody td span.btDelete",function () 
        {
            let itemId = $(this).parents("tr").children(".itemId").html();
            let url = `/admin/ajax/${items}/${itemId}`;

            $.ajax({
                url: url,
                type: "DELETE",
            })
            .done(function () {
                $("#notificationTitle").html(`${itemTitle} Deleted!`);
                $("#notificationText").html("");
                $("#notificationDiv")
                    .removeClass("bg-red-700")
                    .addClass("bg-orange-500")
                    .slideDown().delay(2000).fadeOut("slow");

                reloadItemList();
            }).fail(function () {
                console.log(`${itemTitle} deletion ajax fail!`);
            });
        });

        // Place Order for Reservations page only
        $("table").on("click","tbody td span.btOrder",function () 
        {
            let itemId = $(this).parents("tr").children(".itemId").html();
            let url = `/admin/ajax/orders`;
            let data = {
                reservationId: itemId
            };

            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify(data),
                dataType: "json"
            })
            .done(function (data) {

                $("#notificationTitle").html(`${itemTitle} Ordered!`);
                $("#notificationText").html("");
                $("#notificationDiv")
                    .removeClass("bg-red-700")
                    .addClass("bg-orange-500")
                    .slideDown().delay(2000).fadeOut("slow");

                reloadItemList();
            }).fail(function (result) {
                let errorList = result.responseJSON.errorList;

                Object.keys(errorList).forEach(function (key) {
                    $("#notificationTitle").html(`[${key}] is Invalid!!`);
                    $("#notificationText").html(errorList[key]);
                    $("#notificationDiv")
                        .removeClass("bg-orange-500")
                        .addClass("bg-red-700")
                        .slideDown().delay(2000).fadeOut("slow");
                });
            });
        });

        //** Search */
        $("input[name=searchKeyword]").keyup(function () {
            let keyword = ($(this).val()).toLowerCase();
            if(keyword == ''){
                // show all of item
                $("tbody#tbodyItemList")
                    .children()
                    .removeClass("hidden");
                $("tbody#tbodyItemList tr td").removeClass("bg-green-200");
                
            } else {
                $("tbody#tbodyItemList")
                    .children()
                    .not("tr#pagenation")
                    .removeClass("hidden")
                    .each(function(){
                        let hasRowKeyword = false;

                        $(this).children().each(function () {
                            let text = ($(this).text()).toLowerCase();
                            if(text.includes(keyword) === true){
                                hasRowKeyword = true;
                                $(this).addClass("bg-green-200");
                            } else {
                                $(this).removeClass("bg-green-200");
                            }
                        });

                        if(hasRowKeyword === false){
                            $(this).addClass("hidden");
                        }
                    });
            }
        });

    });
</script>
{% endblock scripts %}